<div class="row">
	<div class="small-12 large-8 columns large-centered text-center"><h2>Welcome to Fire Faces</h2>
		<h3>This is a flash card style app to help learn the names and faces of folks in the Alaska wildland fire community.</h3>
	</div>
</div>
<div class="text-center small-12 columns footer">
	<p>If you would like access to this application contact Brentwood Reid.</br>
	   Figuring that out is your first step to being vetted.</p>
</div>