<%= content_for :title, "Edit Face" %>
<div class="row">
	<div id="new-face-form" class="small-12 medium-10 large-8 columns medium-centered large-centered">
		<h2>Edit Face</h2>

		<%= render 'form' %>

	</div>
</div>
<script>
  //  temporary avatar
  function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#avatar-image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
  }

  $("#avatar-file").change(function(){
    readURL(this);
  });
</script>