<%= content_for :title, @face.name %>

<div class="row">
	<div id="show-face" class="small-12 medium-10 large-8 columns medium-centered large-centered">
		<div class="row">
			<div id="avatar-holder" class="small-12 small-centered large-4 columns">
				<div>
			    <div class="show-avatar">
			      <%= image_tag @face.avatar.url, id: 'avatar-image' %>
			    </div>
				</div>
			</div> 
			<div class="small-12 medium-10 large-8 medium-centered large-centered text-center columns">
				<h5><%= @face.name %> <%= @face.agency%></h5>
			</div>
			<div id="study-button">
				<p class="button radius success ">STUDY</p>
			</div>
		</div>
	</div>
</div>
