$aqua: #07c5ff;
#new-face-form {
	h2 {
		text-align: center;
	}
	.button {
		width: 100%;
		// background-color: #59d349;
	}
}

.face-avatar {
  -moz-border-radius: 8em/8em;
  -webkit-border-radius: 8em 8em;
  border-radius: 8em/8em; 
  width:8em;
  height:8em; 
  overflow: hidden;  
  margin-bottom: 0;
  border: 2px solid $aqua;
  margin: 0 auto;
  img {
  	width: 100%;
  	height: auto;
    min-height: 8em;
    min-width: 8em;
  }
  h4 {
  	margin-top: 3.5em;
  	width: 4em;
  	font-weight: bold;
  	color: $aqua;
  	margin-left: 1em;
  	text-align: center;
  	position: absolute;
  	z-index: 2;
  	bottom: 17%;
  	left: 2%;
  }

}
.show-avatar {
  -moz-border-radius: 11em/11em;
  -webkit-border-radius: 11em 11em;
  border-radius: 11em/11em; 
  width:11em;
  height:11em; 
  overflow: hidden;  
  margin-bottom: 0;
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
    min-height: 11em;
    min-width: 11em;
  }
}
.index-avatar {
  text-align: center;
  -moz-border-radius: 5em/5em;
  -webkit-border-radius: 5em 5em;
  border-radius: 5em/5em; 
  width:5em;
  height:5em; 
  overflow: hidden;  
  margin-bottom: 0;
  margin: 0 auto;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
  img {
    width: 100%;
    height: auto;
    min-height: 5em;
    min-width: 5em;
  }
}
#avatar-holder {
  text-align: center;
}
#study-button {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 306px;
  text-align: center;
  a {
  width: 100%;

  }
}
#new-face-button {
margin: 0 auto;
  max-width: 306px;
  text-align: center;
  a {
  width: 100%;
  }
}
#show-face {
  #avatar-holder {
    margin-top: 10%;
  }
  .show-avatar {
    margin-bottom: 5%;
  }
}
.title-area {
  li.name {
    a {
    color: #fe4880;
    }
  }
}
.alert-box {
  background-color: #95E48A !important;
  border: none !important;
  margin-top: 5px !important;
}
#avatar-file {
  display: none;
}
.form-fields {
  margin-top: 10px;
}
h4#add-text {
  position: absolute;
  margin-left: 10px;
}
#index-faces {
  margin-top: 20px;
}
.digg_pagination {
  background: transparent;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: $aqua;
    color: white;
    border: 1px solid $aqua;
  }
  a {
    text-decoration: none;
    color: $aqua;
    border: 1px solid $aqua;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: $aqua + 60;
      padding: 0.1em 0.25em;
    }
  }
  // self-clearing method:
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & {
    height: 1%;
  }
  *:first-child+html & {
    overflow: hidden;
  }
}
.pagination {
  margin: 0 auto;
  text-align: center !important;
  margin-bottom: 25px;
}
#choices {
  text-align: center;
  margin: 0 auto;
  ul {
    padding: 0;
    margin-left: 0;
  }
  li {
    position: relative;
    a {
      color: #222
    }
    list-style: none;
    h5 {
    padding: 10px 20px;
    }
    // h5:hover {
    //   border: 2px solid #e1e1e1;
    // padding: 8px 20px;

    // }
  }
}
.light-head {
  color: #E1E1E1;
  margin-bottom: 20px;
}
.correct {
  color: #43ac6a;
}
.icon {
  display: inline;
  margin-left: -25px;
  position: absolute;
  display: none;
}
.transparent {
  color: white !important;
}
.wrong {
  color: red !important;
}
#inviteform {
  .button {
    width: 100% !important;
    // background-color: #59d349;
  }
}
